.service-logo{
    width: 240px;
}

.roundedp{
    border-style: solid;
}
@media (max-width:700px){
    .service-logo{
        width: 50px;
    }
}


@keyframes cardRotation {
    from {
        transform: rotate()deg;
    }
    to{
        transform: rotate(359deg);
    }
}